@media (max-width: 1270px) {
	.button-packs__conteiner{
		max-width: 1265px;
		width: auto;
	}
}
@media (max-width: 1200px) {
	.conteiner {
		width: 960px;
	}
	.improve__imagesv {
		margin-bottom: -132px;
	}
	.improve__image {
		width: 311px;
	}
	.get__line {
		height: 1365px;
		right: calc(50% - 466px);
		top: 152px;
	}
	.lng__review__text_1 {
		max-width: 610px;
		z-index: 1;
	}
	.lng__review__text_2 {
		max-width: 557px;
		z-index: 1;
	}
	.review__includes__item {
		margin: 20px 30px;
	}
	figure {
		height: 150px;
	}
	.structure__modul {
		width: 83.45vw;
	}
	.package__title, .bonus__title {
		width: 100%;
	}
	.guarantee__wrapper {
		flex-direction: column;
		padding: 25px 0;
	}
	.guarantee__content {
		text-align: center;
	}
	.faq__wrapper summary {
		width: 940px;
	}
	.faq__answer {
		width: 940px;
	}  
}
@media (max-width: 992px) {
	.conteiner {
		width: 720px;
	}
	.header__menu {
		width: 465px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.menu__item {
		margin: 0 10px;
	}
	.about__wrapper {
		min-height: 540px;
	}
	.about__content {
		width: 540px;
	}
	.about__logo {
		width: 170px;
	}
	.about__foto {
		width: 385px;
		height: 385px;
		top: auto;
		bottom: 0;
	}
	.improve__images {
		margin-bottom: -109px;
	}
	.improve__image {
		width: 257px;
	}
	.get__line {
		height: 1590px;
		right: calc(50% - 345px);
		top: 155px;
	}
	.review__tablet {
		width: 450px;
		top: -15px;
		right: -40px;
	}
	.lng__review__text_1 {
		width: 445px;
	}
	.review__text .text2 {
		display: block;
	}
	.structure__heading__conteiner {
		width: 83.45vw!important;
		height: auto;
	}
	.structure__heading__conteiner h2 {
		font-size: 47px;
		line-height: 36px;
	}
	.structure__heading__conteiner h2 span {
		display: block;
		margin-top: 30px;
		text-align: center;
	}
	.structure__modul {
		width: 83.45vw;
	}
	.package__title, .bonus__title {
		width: 100%;
	}
	.question__text span {
		line-height: 30px;
	}
	.total__items {
		width: 555px;
	}
	.total__item {
		box-sizing: border-box;
	}
	.faq__wrapper summary {
		width: 700px;
	}
	.faq__answer {
		width: 700px;
	}

}
@media (max-width: 768px) {
	.conteiner {
		width: 540px;
	}
	.whatsapp__link {
		left: 50px;
		bottom: 50px;
	}
	.header__logo {
		width: 44px;
		height: 44px;
	}
	.header__nav {
		position: fixed;
		width: 100%;
		height: 100%;
		right: -100%;
		top: 84px;
		overflow: hidden;
		background: rgba(0, 0, 0, 0.6);
		z-index: 10;
		transition: all .2s ease-out;
	}
	.header__menu {
		display: block;
		width: 100%;
		margin: auto;

	}
	.hamb {
		margin: 0 50px;
	}
	.hamb-line, 
	.hamb-line::before, 
	.hamb-line::after {
		display: block;
	}
	.menu__item {
		display: block;
		margin: 20px 0;
		text-align: center;
	}
	.propose__description {
		width: 420px;
	}
	.propose__text_1 {
		font-size: 30px;
		line-height: 40px;
		margin-top: 50px;
	}
	.propose__text_2 {
		font-size: 30px;
		line-height: 40px;
	}
	.propose__text_3 {
		font-size: 36px;
		line-height: 45px;
	}
	.propose__text_4 {
		font-size: 23px;
		line-height: 35px;
	}
	.propose__buttons button {
		font-size: 25px;
	}
	.about__wrapper {
 		 min-height: 440px;
	}
	.about__content {
		width: 360px;
	}
	.about__logo {
		width: 160px;
	}
	.about__inner {
		height: 100%;
		margin-top: 25px;
	}
	.about__text {
		margin: 10px 0;
	}
	.if__item {
		padding-right: 0;
		padding-top: 50px;
		background-position: top center;
	}
	.if__item span {
		padding: 10px 50px;
	}
	.improve__image {
		width: 199px;
	}
	.improve__images {
		margin-bottom: -84px;
	}
	.get__line {
		height: 1910px;
		right: calc(50% - 256px);
		top: 172px;
	}
	.review__heading__conteiner h2 {
		font-size: 40px;
	}
	.review__tablet {
		width: 500px;
		top: 0;
	}
	.review__text {
		color: #fff;
	}
	.structure__modul {
		width: 80.45vw;
	}
	.package__title, .bonus__title {
		width: 100%;
	}
	.faq__wrapper summary {
		width: 520px;
		height: 80px;
	}
	.faq__answer {
		width: 520px;
	}
	.join__heading {
		font-size: 40px;
	}
}
@media (max-width: 576px) {
	.conteiner {
		width: 100%;
		padding: 0 27px;
	}
	.header__wrapper {
		height: 14vw;
		min-height: auto;
	}
	.header__logo {
		width: 33px;
		height: 33px;
		right: 27px;
	}
	.hamb {
		margin: 0 24px;
	}
	.main__languages {
		width: 41px;
		height: 27px;
		border-radius: 12px;
	}
	.change-lang {
		width: 37px;
		height: 28px;
		border-radius: 10px;
		font-size: 10px;
		line-height: 12px;
	}
	/* Предложение курса */
	.propose__wrapper {
		min-height: 144.06vw;
	}
	.propose__description {
		width: 87.5vw;
	}
	.propose__text_1 {
		font-size: 5.94vw;
		font-weight: 682;
		line-height: 7.19vw;
		margin-top: 13.44vw;
	}
	.propose__text_2 {
		font-size: 5.94vw;
		font-weight: 500;
		line-height: 7.19vw;
	}
	.propose__text_3 {
		font-size: 6.56vw;
		line-height: 8.75vw;
		margin: 9.38vw 0;
	}
	.propose__text_4 {
		font-size: 4.22vw;
		font-weight: 500;
		line-height: 5vw;
	}
	.propose__text_4 span {
		font-size: 5vw;
		line-height: 9.38vw;
	}
	.propose__buttons button {
		width: 84.79vw;
		height: 11.56vw;
		font-size: 4.69vw;
		line-height: 5.63vw;
		margin-top: 25vw;
	}
	.propose__whatsapp {
		width: 48px;
		height: 48px;
	}
	.whatsapp__link {
		left: 25px;
	}

	/* COURS */
	.cours__wrapper {
		min-height: 200px;
		margin: 27px auto;
		padding: 22px 0;
	}
	.cours__text {
		font-size: 14px;
		line-height: 20px;
		padding: 0;
	}
	.cours__text_1 {
		text-transform: capitalize;
	}
	.about {
		background: linear-gradient(-180deg, rgba(193, 155, 97, 0.88) 0%, #E6C492 32.81%, #D8B989 66.67%, #000000 100%);
	}
	.about__foto {
		width: 160px;
		height: 216px;
		top: 18px;
		left: 0;
		background: url(../images/Ella_1.webp) no-repeat center center;
		background-size: cover;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-resolution: 1.5dppx),
	only screen and (min-resolution: 144dpi) {
		.about__foto {
			background-image: url(../images/Ella_1@2.webp) no-repeat center center;
			background-size: cover;
		}
	}
	.no-webp .about__foto {
		background-image: url(../images/Ella_1.png) no-repeat center center;
		background-size: cover;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-resolution: 1.5dppx),
	only screen and (min-resolution: 144dpi) {
		.no-webp .about__foto {
			background-image: url(../images/Ella_1@2.png) no-repeat center center;
			background-size: cover;
		}
	}
	.about__gradient {
		position: absolute;
		height: 141px;
		left: 0;
		right: 0;
		top: 93px;
		background: linear-gradient(-360deg, #E3C18E 12.06%, rgba(230, 196, 146, 0.83) 60.46%, rgba(230, 196, 146, 0) 91.49%);
	}
	.about__wrapper {
		min-height: 544px;
	}
	.about__content {
		width: 100%;
	}
	.about__logo {
		width: 143px;
		align-self: flex-start;
		margin-right: calc(50vw - 160px);
	}
	.about__text {
		font-size: 3.75vw;
		line-height: 117%;
	}
	.about__text_1 span {
		display: block;
	}
	.if__heading {
		font-size: 4.375vw;
		line-height: 6.25vw;
		padding: 0;
		margin-top: 30px;
	}
	.if__heading span {
		display: block;
	}
	.if__item span {
		font-size: 3.75vw;
		line-height: 5vw;
		padding: 25px 20px;
	}
	.improve__wrapper {
		min-height: 0;
	}
	.improve__heading {
		font-size: 4.375vw;
		line-height: 6.25vw;
	}
	.improve__text {
		font-size: 4.375vw;
		line-height: 6.25vw;
	}
	.improve__text span {
		display: block;
		width: 100%;
	}
	.improve__images {
		margin-bottom: -29.375vw;
	}
	.improve__image {
		width: 39.375vw;
		height: 36.25vw;
	}
	.improve__image img {
		width: 100%;
		height: 100%;
	}
	.answer__wrapper {
		min-height: 559px;
		margin: 7.5vw auto;
	}
	.answer__content {
		margin-bottom: 15.62vw;
		margin-top: 27.81vw;
	}
	.answer__text {
		font-size: 4.375vw;
		line-height: 5.625vw;
	}
	.answer__text_3 {
		width: 58.75vw;
		height: 13.44vw;
		border-radius: 3.75vw;
	}
	.answer__text_4 {
  		width: 79.06vw;
	}
	.answer__image {
		width: 146.25vw;
		height: 22.5vw;
		right: -43vw;
	}
	.invitation__wrapper {
		min-height: 230px;
		margin: 0;
		padding: 6.94vw 0;
	}
	.invitation__text {
		padding: 0;
		font-size: 3.75vw;
		line-height: 6.25vw;
	}
	.invitation__text .small {
		display: block;
	}
	.invitation__text .big {
		display: inline-block;
	}
	.invitation__image {
		width: 7.81vw;
		right: 50%;
		transform: rotate(33.59deg) translateX(50%);
		top: -21.875vw;
	}
	.get__wrapper {
		margin: 5.94vw auto;
	}
	.get__heading__conteiner {
		height: 25.625vw;
	}
	.get__heading__conteiner h2 {
		font-size: 5vw;
		line-height: 6.25vw;
	}
	.get__line {
		width: 0.625vw;
		height: 233.875vw;
		right: calc(50% - 16.875vw - (74.6875vw/2) + 9.375vw + 1.875vw);
		top: calc(5.94vw + 7.19vw + 6.25vw + 2.5vw);
	}
	.get__content {
		width: 74.69vw;
		padding: 7.19vw 0;
		margin-right: 16.875vw!important;
		margin: 5.94vw auto;
	}
	.get__caption {
		width: 70.625vw;
		font-size: 4.375vw;
		line-height: 6.25vw;
	}
	.get__caption::before {
		width: 2.5vw;
		height: 2.5vw;
		right: -9.375vw;
	}
	.get__text {
		font-size: 4.06vw;
		line-height: 5.625vw;
	}
	.review__heading__conteiner {
		height: 17.5vw;
	}
	.review__heading__conteiner h2 {
		font-size: 4.375vw;
		line-height: 6.25vw;
	}
	.review__heading__conteiner h2 span {
		display: block;
		text-align: center;
	}
	.review__items {
		margin-top: 0;
	}
	.review__item {
		margin: 5.94vw auto;
	}
	.review__item_1 {
		min-height: 221px;
		margin-top: 0;
	}
	.review__item_1 .review__content {
		padding: 0 20px;
	}
	.review__tablet {
		width: 49.375vw;
		height: 38.75vw;
		top: -1.875vw;
		right: 1.563vw;
	}
	.review__text {
		width: 84%;
		font-size: 3.75vw;
		line-height: 5vw;
		box-sizing: border-box;
		color: #000;
	}
	.lng__review__text_1 {
		padding-right: 37.5vw;
	}
	.lng__review__text_1 span {
		line-height: 5vw;
	}
	.review__text .text2 {
		display: inline;
	}
	.review__subject {
		margin-top: 3.125vw;
		margin-bottom: 0;
		font-size: 5.31vw;
		line-height: 12, 5vw;
	}
	.review__includes__items {
		justify-content: center;
	}
	.review__includes__item {
		width: 100%;
		margin: 19px auto;
	}
	figure {
		width: 100%;
		height: auto;
	}
	figure img {
		width: 17.19vw;
	}
	figcaption {
		position: relative;
		height: 8.44vw;
	}
	figcaption p {
		font-size: 3.75vw;
		line-height: 7.5vw;
	}
	figcaption p span {
		display: inline;
	}
	.structure__heading__conteiner {
		height: 19.69vw;
	}
	.structure__heading__conteiner h2 {
		font-size: 5vw;
		line-height: 5.625vw;
	}
	.structure__heading__conteiner h2 span {
		margin-top: 0;
	}
	.structure__modul {
		padding: 0;
	}
	.structure__modul h3 {
		position: relative;
		width: 100%;
		font-size: 6.25vw;
		line-height: 12.5vw;
		right: 50%;
		top: 0;
		transform: translateX(50%);
		text-align: center;
		text-decoration: none;
		border-bottom: 4px solid #fff;
	}
	.structure__modul__content {
		padding: 0 8.44vw;
	}
	.title__modul, .title__result__modul {
		font-size: 4.375vw;
		line-height: 7.5vw;
	}
	.description__modul, .result__modul {
		font-size: 4.375vw;
		line-height: 5.625vw;
	}
	.description__modul__items, .description__modul__item {
		font-size: 4.375vw;
		line-height: 5vw;
		padding: 0;
		margin-right: 0;
	}
	.description__modul__items {
		list-style-position: inside;
	}
	.structure__item_1 {
		margin-top: 0;
	}
	.goal__wrapper {
		min-height: 50.31vw;
		margin: 5.94vw auto;
	}
	.goal__text {
		width: 84.06vw;
		margin: 9.38vw auto;
		font-size: 4.375vw;
		line-height: 5.625vw;
	} 
	.package__title {
		min-height: 39.375vw;
	}
	.packages__heading {
		height: 17.5vw;
		font-size: 4.375vw;
		line-height: 5.625vw;
		margin-top: 5.625vw;
	}
	.packages__heading span:last-child {
		margin: 0;
	}
	.package__content {
		margin-top: -16.875vw;
	}
	.packages__package {
		width: 100%;
		border-radius: 6.25vw;
	}
	.packages__package_1 {
		margin-bottom: 3.75vw;
	}
	.package__caption {
		margin: 0;
		margin-top: 5.94vw;
		font-size: 6.25vw;
		line-height: 11.25vw;
	}
	.package__price {
		width: 21.25vw;
		height: 5.94vw;
		margin: 1.56vw auto 3.44vw;
		box-sizing: border-box;
		font-size: 4.375vw;
		line-height: 6.25vw;
		padding-left: 0;
		background-size: 2.81vw;
		background-position-y: 1.875vw;
	}
	.package__subtitle {
		padding-right: 5.31vw;
		font-size: 4.375vw;
		line-height: 11.25vw;
		text-align: center;
	}
	.package__scroll, 
	.package__bonuses, 
	.package__additionally {
		padding-right: 8.44vw;
	}
	.package__scroll legend, 
	.package__bonuses legend, 
	.package__additionally legend {
		padding-right: 10.625vw;
		font-size: 5vw;
		line-height: 5.625vw;
	}
	.package__scroll legend, 
	.package__scroll__item, 
	.package__bonuses__item, 
	.package__additionally__item {
		padding-right: 10.625vw;
		padding-left: 7.81vw;
		background-size: 5vw;
		background-position-y: top;
	}
	.package__scroll__item, 
	.package__bonuses__item, 
	.package__additionally__item {
		font-size: 4.375vw;
		line-height: 5vw;
	}
	.packages__package button {
		width: 70.02vw;
		height: 9.96vw;
		border-radius: 5vw;
		margin: 8.75vw auto 12.19vw;
		font-size: 5vw;
		line-height: 6.25vw;
	}

	.bonus__title {
		min-height: 19.69vw;
		padding: 0 6.25vw;
	}
	.bonus__heading {
		font-size: 5vw;
		line-height: 5.625vw;
	}
	.bonus__conteiner {
		padding: 0;
	}
	.bonus__subtitle {
		margin-top: -4.69vw;
		font-size: 3.125vw;
		line-height: 3.75vw;
	}
	.bonus__description {
		width: 89.06vw;
		height: auto;
		padding: 6.25vw 3.125vw;
		margin: 4.375vw auto;
		border-radius: 9.375vw;
		background-size: cover;
		box-sizing: border-box;
	}
	.bonus__name {
		font-size: 4.375vw;
		line-height: 7.5vw;
	}
	.bonus__description__text {
		margin: 6.25vw auto;
		font-size: 4.375vw;
		line-height: 5vw;
	}
	.bonus__description img {
		position: relative;
		width: 12.5vw;
		height: 12.5vw;
		right: 0;
		top: 0;
		transform: none;
	}

	.guarantee__content {
		width: 90.63vw;
	}
	.guarantee__wrapper {
		margin: 0 auto;
		padding: 8.81vw 0;
	}
	.guarantee__image img {
		width: 49.69vw;
		height: 51.56vw;
	}
	.sticker__content {
		width: 26.25vw;
		height: 23.44vw;
		top: 50%;
		right: 51%;
		transform: translate(50%, -60%);
	}
	.sticker__text {
		display: none;
	}
	.sticker__content__image {
		display: block;
		width: 100%;
	}
	.guarantee__content__caption {
		font-size: 4.375vw;
		line-height: 5vw;
	}
	.guarantee__content__text {
		margin-top: 0;
		font-size: 3.75vw;
		line-height: 5vw;
	}
	.guarantee__content__text:last-child {
		margin-bottom: 12.5vw;
	}

	.question__conteiner {
		padding: 0 6.25vw;
	}
	.question__wrapper {
		height: 46.875vw;
		min-height: auto;
		margin: 5.31vw auto 6.56vw;
	}
	.question__text {
		font-size: 4.375vw;
		line-height: 5vw;
	}
	.question__text span {
		line-height: 5vw;
		margin-bottom: 5.625vw;
	}

	.total__conteiner {
		padding: 0 4.375vw;
	}
	.total__wrapper {
		height: 184.06vw;
		min-height: auto;
	}
	.total__subtitle{
		font-size: 4.375vw;
		line-height: 5vw;
	}
	.total__items{
		width: 100%;
	}
	.total__item {
		line-height: 5vw;
		padding-right: 12.625vw;
		text-transform: none;
	}
	.total__item::before {
		width: 1.25vw;
		height: 1.25vw;
		right: 8.5vw;
		top: 2.5vw;
		transform: translate(50%, -50%);
	}
	.total__items_1 .total__item {
		font-size: 4.06vw;
	}
	.total__items_2 .total__item {
		font-size: 4.06vw;
		background-size: 5vw;
		background-position-y: top;
	}
	/* FAQ */

	.faq__conteiner {
  		padding: 0 16px;
	}
	.faq__wrapper {
		min-height: 100.94vw;
		margin: 5.32vw auto;
	}
	.faq__heading {
		font-size: 5vw;
		line-height: 5vw;
		margin: 8.44vw auto 4.375vw;
	}
	.faq__wrapper details {
		margin: 1.875vw auto;
	}
	.faq__wrapper details:last-child {
		margin-bottom: 9.375vw;
	}
	.faq__wrapper summary {
		width: 89.375vw;
		min-height: 10.625vw;
		height: auto;
		font-size: 3.44vw;
		line-height: 3.44vw;
		padding: 5px 20px 5px 40px;
	}
	.faq__wrapper details summary::after, 
	.faq__wrapper details[open] summary::after {
		left: 20px;
	} /*
	.faq__wrapper details[open] {
		margin-left: 0.3125vw;
	}  */
	.faq__answer {
		width: 89.375vw;
		font-size: 3.44vw;
		line-height: 3.75vw;
		padding: 0 6.25vw 0 12.5vw;
	}

	/* ASK */
	.ask__wrapper {
		margin: 17px auto;
	}
	.ask__heading, .ask__content {
		font-size: 4.375vw;
		line-height: 5vw;
	}
	.ask__heading {
		margin: 9.38vw auto;
	}
	.ask__description {
		margin: 20px auto;
	}
	.ask__item {
		margin: 10px 0;
	}
	.ask__term {
		margin: 0 auto;
	}

	.invit__wrapper {
		height: 57.5vw;
		min-height: auto;
		margin: 4.69vw auto;
	}
	.invit__heading, .invit__text {
		font-size: 4.375vw;
		line-height: 5vw;
	}
	.invit__wrapper .invitation__image {
		width: 7.81vw;
		right: 25%;
		top: -17.85vw;
		transform: rotate(33.59deg) translateX(50%);
	}

	.chance__wrapper {
		height: 39.06vw;
		min-height: auto;
		margin: 4.375vw auto;
		padding: 6.25vw 0;
	}
	.chance__heading {
		font-size: 4.375vw;
		line-height: 5vw;
		margin-bottom: 0;
	}
	.chance__text {
		font-size: 4.375vw;
		line-height: 5.31vw;
	}

	.button-packs__conteiner {
		padding: 0 18px;
	}
	.button-packs__wrapper {
		margin: 5.31vw auto;
	}
	.button-pack {
		width: 100%;
		height: 57.5vw;
		border-radius: 6.25vw;
		margin-bottom: 2.5vw;
	}
	.button-pack__cards {
		height: 6.56vw;
		margin: 4.375vw auto 2.81vw;
	}
	.button-pack__cards img {
		width: 10.31vw;
		margin: auto 0.78vw;
	}
	.button-pack .package__price {
		margin-top: 0;
	}
	.button-pack button {
		width: 70vw;
		height: 11.13vw;
		border-radius: 6.25vw;
		font-size: 5vw;
		line-height: 6.25vw;
	}

	.join__wrapper {
		min-height: 41.875vw;
		margin: 5vw auto;
	}
	.join__heading, .join__text {
		font-size: 4.375vw;
		line-height: 5vw;
	}
	.join__heading {
		margin-bottom: 0;
	}
}
