@media (max-width: 1200px) {
	.conteiner {
		width: 960px;
	}
}
@media (max-width: 992px) {
	.conteiner {
		width: 720px;
	}
	.header__menu {
		width: 465px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.menu__item {
		margin: 0 10px;
	}
	.about__wrapper {
		min-height: 540px;
	}
	.about__content {
		width: 540px;
	}
	.about__logo {
		width: 170px;
	}
	.about__foto {
		width: 385px;
		height: 385px;
		top: auto;
		bottom: 0;
	}
}
@media (max-width: 768px) {
	.conteiner {
		width: 540px;
	}
	.whatsapp__link {
		right: 50px;
		bottom: 50px;
	}
	.header__logo {
		width: 44px;
		height: 44px;
	}
	.header__nav {
		position: fixed;
		width: 100%;
		height: 100%;
		left: -100%;
		top: 84px;
		overflow: hidden;
		background: #000;
		z-index: 1;
		transition: all .2s ease-out;
	}
	.header__menu {
		display: block;
		width: 100%;
		margin: auto;

	}
	.hamb {
		margin: 0 50px;
	}
	.hamb-line, 
	.hamb-line::before, 
	.hamb-line::after {
		display: block;
	}
	.menu__item {
		display: block;
		margin: 20px 0;
		text-align: center;
	}
	.propose__description {
		width: 420px;
	}
	.propose__text_1 {
		font-size: 30px;
		line-height: 40px;
		margin-top: 50px;
	}
	.propose__text_2 {
		font-size: 30px;
		line-height: 40px;
	}
	.propose__text_3 {
		font-size: 36px;
		line-height: 45px;
	}
	.propose__text_4 {
		font-size: 23px;
		line-height: 35px;
	}
	.propose__buttons button {
		font-size: 25px;
	}
	.about__wrapper {
 		 min-height: 440px;
	}
	.about__content {
		width: 360px;
	}
	.about__logo {
		width: 160px;
	}
	.about__inner {
		height: 100%;
		margin-top: 25px;
	}
	.about__text {
		margin: 10px 0;
	}
	.if__item {
		padding-left: 0;
		padding-top: 50px;
		background-position: top center;
	}
	.if__item span {
		padding: 10px 50px;
	}
}
@media (max-width: 576px) {
	.conteiner {
		width: 100%;
		padding: 0 27px;
	}
	.header__wrapper {
		height: 61px;
	}
	.header__logo {
		width: 33px;
		height: 33px;
		left: 27px;
	}
	.hamb {
		margin: 0 24px;
	}
	.main__languages {
		width: 41px;
		height: 27px;
		border-radius: 12px;
	}
	.change-lang {
		width: 37px;
		height: 28px;
		border-radius: 10px;
		font-size: 10px;
		line-height: 12px;
	}
	/* Предложение курса */
	.propose__wrapper {
		min-height: 144.06vw;
	}
	.propose__description {
		width: 87.5vw;
	}
	.propose__text_1 {
		font-size: 5.94vw;
		font-weight: 682;
		line-height: 7.19vw;
		margin-top: 13.44vw;
	}
	.propose__text_2 {
		font-size: 5.94vw;
		font-weight: 500;
		line-height: 7.19vw;
	}
	.propose__text_3 {
		font-size: 6.56vw;
		line-height: 8.75vw;
		margin: 9.38vw 0;
	}
	.propose__text_4 {
		font-size: 4.22vw;
		font-weight: 500;
		line-height: 5vw;
	}
	.propose__text_4 span {
		font-size: 5vw;
		line-height: 9.38vw;
	}
	.propose__buttons button {
		width: 84.79vw;
		height: 11.56vw;
		font-size: 4.69vw;
		line-height: 5.63vw;
		margin-top: 25vw;
	}
	.propose__whatsapp {
		width: 48px;
		height: 48px;
	}
	.whatsapp__link {
		right: 25px;
	}

	/* COURS */
	.cours__wrapper {
		min-height: 200px;
		margin: 27px auto;
		padding: 22px 0;
	}
	.cours__text {
		font-size: 14px;
		line-height: 20px;
		padding: 0;
	}
	.cours__text_1 {
		text-transform: capitalize;
	}
	.about {
		background: linear-gradient(180deg, rgba(193, 155, 97, 0.88) 0%, #E6C492 32.81%, #D8B989 66.67%, #000000 100%);
	}
	.about__foto {
		width: 160px;
		height: 216px;
		top: 18px;
		right: 0;
		background: url(../images/Ella_1.webp) no-repeat center center;
		background-size: cover;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-resolution: 1.5dppx),
	only screen and (min-resolution: 144dpi) {
		.page {
			background-image: url(../images/Ella_1@2.webp) no-repeat center center;
			background-size: cover;
		}
	}
	.no-webp .page {
		background-image: url(../images/Ella_1.png) no-repeat center center;
		background-size: cover;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-resolution: 1.5dppx),
	only screen and (min-resolution: 144dpi) {
		.no-webp .page {
			background-image: url(../images/Ella_1@2.png) no-repeat center center;
			background-size: cover;
		}
	}
	.about__gradient {
		position: absolute;
		height: 141px;
		right: 0;
		left: 0;
		top: 93px;
		background: linear-gradient(360deg, #E3C18E 12.06%, rgba(230, 196, 146, 0.83) 60.46%, rgba(230, 196, 146, 0) 91.49%);
	}
	.about__wrapper {
		min-height: 544px;
	}
	.about__content {
		width: 100%;
	}
	.about__logo {
		width: 143px;
		align-self: flex-start;
		margin-left: calc(50vw - 160px);
	}
	.about__text {
		font-size: 3.75vw;
		line-height: 117%;
	}
	.about__text_1 span {
		display: block;
	}
	.if__heading {
		font-size: 4.375vw;
		line-height: 6.25vw;
		padding: 0;
	}
	.if__heading span {
		display: block;
	}
	.if__item span {
		font-size: 3.75vw;
		line-height: 5vw;
		padding: 25px 20px;
	}
}
